main {
  min-height: 80vh;
}

.rating h3 {
  padding: 1rem 0;
}
.rating span {
  margin: 0.5rem;
}
.rating span:first-child,
.rating span:last-child {
  margin-left: 0;
}
.rating span:last-child {
  display: block;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}
